.top {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}
.coachtech {
  color: rgb(41, 17, 128);
  font-weight: bold;
  font-size: 50px;
}

.navi {
  color: rgb(41, 17, 128);
  font-weight: bold;
  font-size: 30px;
}

.content-img {
  float: right;
  margin-top: 5%;
}

.under {
  margin-top: 30%;
}
.text {
  font-size: 120px;
  margin-left: 30px;
}
.box {
  height: 300px;
  width: 80%;
  background-color: rgb(41, 17, 128);
}
