header {
  height: 100px;
  width: 100%;
}
.header__title {
  margin-top: 1%;
  margin-left: 550px;
  font-size: 40px;
  color: #20b2aa;
  display: inline-block;
}

body {
  margin-left: 25%;
}

.green {
  color: #20b2aa;
  margin-left: -30px;
  margin-right: -20px;
  font-size: 50px;
}

.top__text {
  font-size: 30px;
  margin-bottom: 3%;
  line-height: 60px;
}

.Emphasis {
  font-weight: bold;
}

.border-radius {
  border-radius: 100%;
  background: #ff1493;
  padding: 20px 10px;
  color: white;
  font-size: 20px;
}

.border-radius2 {
  background: #ff1493;
  color: white;
  border-radius: 30px;
  padding: 20px;
}

.center__text {
  padding-left: 4%;
  color: #ff1493;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
}

.top__partition {
  background: #20b2aa;
  color: white;
  height: 70px;
  width: 80%;
  position: relative;
  margin-bottom: 30px;
}

.top__partition--text {
text-align: center;
padding-top: 25px;
}

.top__partition:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #20b2aa transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}

.list {
  border: 1px solid #20b2aa;
  border-radius: 20px;
  width: 350px;
  padding: 20px;
  margin-left: -150px;
  margin-top: 50px;
}

.list__item {
  margin: 10px 60px;
  color: #20b2aa;
  border-bottom: 1px solid #20b2aa;
  list-style: url(../img/check.svg);
}

.under__box {
  background: #20b2aa;
  color: white;
  height: 200px;
  width: 80%;
  margin-bottom: 50px;
}

.under__box--text {
  text-align: center;
  padding-top: 30px;
  line-height: 50px;
  font-size: 30px;
}

large-red {
  color: #ff1493
}

flex-box {
  display: flex;
  height: 300px;
  margin-left: 25%;
}

flex-box2 {
  display: flex;
}

flex-item2 {
  border: solid 1px #20b2aa;
  height: 200px;
  padding: 20px;
  font-size: 20px;
  width: 350px;
  margin-right: 20px;
}

.red {
  color:  #ff1493;
}

.flex-item--top {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 30px;
}

.flex-item--bottom {
  line-height: 30px;
}

.flex-top {
  color: #20b2aa;
  margin-top: -10%;
  background: white;
  width: 90px;
}


.footer__item {
  margin-top: 10%;
  margin-left: 30%;
  font-weight: bold;
  margin-bottom: 2%;
}

.top__img {
 width: 80%;
 margin-bottom: -10px;
}
.top__img img {
  width: 100%;
}

.check-img {
  width:50px;
}

.flex__item {
  border-radius: 100px;
  background: #ff1493;
  display: inline;
  color: white;
  padding: 20px 10px;
}

.green__new {
  color: #20b2aa;
  margin-left: 80px;
  margin-top: -20px;
}

.red__new {
  color: #ff1493;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.large {
  font-size: 30px;
}

.large__green {
  font-size: 50px;
  color: #20b2aa;
  margin: 0px -10px;
}

.canpeen {
  background: #ff1493;
  border-radius: 50px;
  color: white;
  display: inline-block;
  padding: 20px;
}

.center__img {
  width: 80%;
  margin-left: -50%;
  margin-top: 17px;
}

h2 {
  font-size: 25px;
  padding-top: 15px;
}