.header {
  display: flex;
  height: 5vw;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  font-size: 2vw;
}
.nav-list-item {
  padding-left: 5px;
}

.relative {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.absolute {
  position: absolute;
  top: 15%;
  left: 8%;
  height: 100vh;
  width: 80%;
  color: #c71585;
}
.blue {
  color: #00ced1;
}
large {
  font-size: 6vw;
}

.padding {
  padding-top: 5vw;
  font-size: 3vw;
  font-weight: bold;
}

.grey {
  color: grey;
  font-size: 1.8vw;
  padding: 10px;
}

li {
  margin-right: 30px;
}
.news {
  width: 35vw;
}
.red {
  color: #c71585;
  padding-bottom: 10px;
  margin-left: 20%;
}

.news-hed {
  font-size: 40px;
  color: grey;
  margin-left: 20%;
  margin-bottom: 30px;
  font-weight: bold;
}

border-radius {
  border-radius: 10px;
  color: white;
  background: #c71585;
  margin: 0 30px;
}
.news-content {
  font-size: 1vw;
  margin-top: 2vw;
  color: grey;
  border-bottom: solid 1px grey;
  height: 3vw;
  width: 60vw;
  font-weight: bold;
}

.news-list {
  border-top: solid 2px grey;
  border-bottom: solid 2px grey;
  margin-left: 20%;
  height: 27vw;
  width: 60vw;
}

.about {
  background: #f5f5f5;
  height: 700px;
  margin-top: 100px;
}
.about-hed {
  color: #c71585;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.about-top {
  font-weight: bold;
  color: #696969;
  font-size: 50px;
  text-align: center;
  padding-bottom: 70px;
}

.about-content {
  font-size: 1.5vw;
  display: flex;
}

.about-text {
  color: grey;
  margin-left: 15%;
}
.about-text-under {
  padding-top: 50px;
}

.about-img {
  margin-left: 10%;
}
.service-hed {
  margin-top: 100px;
  margin-left: 10%;
  font-size: 20px;
  color: #c71585;
}
.service-top {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10%;
  font-size: 30px;
  font-weight: bold;
  color: grey;
}
.service-content {
  display: flex;
  height: 50%;
  width: 75vw;
  margin-left: 10%;
  color: white;
}

.service-content-left {
  background: #c71585;
  padding:3vw;
  width:45vw;
  height:18vw;
}
.service-content-left-img {
  margin-left: 30%;
}
.service-content-left-top {
  margin:1vw 15vw;
  font-size: 1.1vw;
  font-weight: bold;
}
.service-content-left-text {
  font-size: 1vw;
  display: inline-block;
}
.service-content-aside {
  background: #db7093;
  width: 40vw;
  height:15vw;
}
.service-content-aside-text {
  font-size: 1vw;
  padding-bottom:2vw;
  display: inline-block;
}

.service-content-aside-top {
  font-size: 1.1vw;
  padding-bottom: 1vw;
}
.service-content-aside-under {
  background: #d8bfd8;
  height:12vw;
}
.service-content-aside-under-top {
  font-size: 1.1vw;
  padding-bottom: 1vw;
}
.service-content-aside-under-text {
 font-size: 1vw;
  display: inline-block;
}
.blog {
  background: #f5f5f5;
  width: 100%;
  height: 40vw;
  margin: 100px 0px;
}
.blog-top {
  color: #c71585;
  padding-top: 5vw;
  padding-left: 8vw;
  font-size: 1vw;
}
.blog-heder {
  font-weight: bold;
  color: grey;
  font-size: 2vw;
  padding-left: 8vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
}
.flex-box {
  display: flex;
  justify-content: center;
}
.card-item {
  background: white;
  border-radius: 20px;
  width: 20vw;
  height: 21vw;
  margin-right: 3vw;
  position: relative;
}
.card-img img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 0.5vw;
}

.card-content {
  padding: 10px;
  color: grey;
}
.card-text {
  line-height: 1.5vw;
  font-weight: bold;
  font-size: 1vw;
}

.card-tag {
  display: flex;
  justify-content: space-around;
  padding-top: 1vw;
  font-size: 1vw;
}

.push {
  font-size: 2vw;
  background: white;
  color: #c71585;
  border-radius: 40px;
  border: solid 3px #c71585;
  padding: 1vw;
  display: inline-block;
  margin-top: 1.5vw;
  margin-left: 42vw;
  height: 2vw;
}

a {
  text-decoration: none;
  color: grey;
}

.card-top {
  color: white;
  background: #c71585;
  font-size: 1vw;
  padding: 1vw;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 20px 0px 0px 0px;
}
.company {
  margin-left: 30vw;
  margin-bottom: 100px;
}
.company-hedder {
  color: #c71585;
  font-size: 20px;
}
.company-top {
  font-weight: bold;
  color: grey;
  font-size: 30px;
  padding: 10px 0px 30px;
}
table {
  font-size: 20px;
}
table,
td,
th {
  border: 1px solid grey;
  padding: 10px;
  color: grey;
  font-size: 1.5vw;
}

th {
  padding-right: 100px;
  background: #f5f5f5;
}
td {
  padding-right: 300px;
}
.information {
  margin-bottom: 100px;
  position: relative;
}
.information-adopt {
  height: 15vw;
  width: 50%;
  position: relative;
  background: url(../img/recruit.png) no-repeat center/cover;
}
.information-adopt-text {
  color: white;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  padding-top: 15%;
}
.information-interview {
  height: 15vw;
  width: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
  background: url(../img/interview.png) no-repeat center/cover;
}
.information-interview-text {
  color: white;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  padding-top: 15%;
}

.contact {
  color: grey;
  font-weight: bold;
  text-align: center;
  font-size: 1.5vw;
}
.contact-button {
  background: #c71585;
  border-radius: 100px;
  padding: 1vw 3vw 1.5vw 2vw;
  background: linear-gradient(90deg, #c71585, #6c2c87);
  box-shadow: 0px 10px 3px #6c2c87;
  margin-left: 43%;
  margin-bottom: 100px;
  display: inline-block;
}
.contact-button-text {
  font-size: 1vw;
  color: white;
  padding-left: 0.5vw;
}
.contact-line {
  color: #c71585;
  text-align: center;
  font-size: 50px;
  padding: 30px;
}

.contact-button-img {
  display: inline-block;
}
.copy {
  background: #f5f5f5;
  color: grey;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  text-align: center;
  padding-top: 50px;
  display: block;
}
